html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.red {
    color: #cf1527
}

.v-middle {
    vertical-align: middle;
}

.msg-success {
    background-color: #144d16;
    color: #fff;
}

.msg-error {
    background-color: #df0c1e;
    color: #fff;
}